@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tnwu6i');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tnwu6i#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tnwu6i') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tnwu6i') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tnwu6i##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.social-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.soc-AdobePortfolio {
  &:before {
    content: $soc-AdobePortfolio; 
  }
}
.soc-AirBnB {
  &:before {
    content: $soc-AirBnB; 
  }
}
.soc-AliExpress {
  &:before {
    content: $soc-AliExpress; 
  }
}
.soc-Alibaba {
  &:before {
    content: $soc-Alibaba; 
  }
}
.soc-Alliance {
  &:before {
    content: $soc-Alliance; 
  }
}
.soc-Amazon {
  &:before {
    content: $soc-Amazon; 
  }
}
.soc-Amplement {
  &:before {
    content: $soc-Amplement; 
  }
}
.soc-Android {
  &:before {
    content: $soc-Android; 
  }
}
.soc-AngelList {
  &:before {
    content: $soc-AngelList; 
  }
}
.soc-AngiesList {
  &:before {
    content: $soc-AngiesList; 
  }
}
.soc-AppNet {
  &:before {
    content: $soc-AppNet; 
  }
}
.soc-AppStore {
  &:before {
    content: $soc-AppStore; 
  }
}
.soc-Apple {
  &:before {
    content: $soc-Apple; 
  }
}
.soc-Archiveorg {
  &:before {
    content: $soc-Archiveorg; 
  }
}
.soc-ArtFight {
  &:before {
    content: $soc-ArtFight; 
  }
}
.soc-ArtStation {
  &:before {
    content: $soc-ArtStation; 
  }
}
.soc-Artfol {
  &:before {
    content: $soc-Artfol; 
  }
}
.soc-Artistree {
  &:before {
    content: $soc-Artistree; 
  }
}
.soc-Ask {
  &:before {
    content: $soc-Ask; 
  }
}
.soc-Augment {
  &:before {
    content: $soc-Augment; 
  }
}
.soc-Avvo {
  &:before {
    content: $soc-Avvo; 
  }
}
.soc-Baidu {
  &:before {
    content: $soc-Baidu; 
  }
}
.soc-Bale {
  &:before {
    content: $soc-Bale; 
  }
}
.soc-BandCamp {
  &:before {
    content: $soc-BandCamp; 
  }
}
.soc-BattleNet {
  &:before {
    content: $soc-BattleNet; 
  }
}
.soc-BeBee {
  &:before {
    content: $soc-BeBee; 
  }
}
.soc-BeatPort {
  &:before {
    content: $soc-BeatPort; 
  }
}
.soc-Bebo {
  &:before {
    content: $soc-Bebo; 
  }
}
.soc-Behance {
  &:before {
    content: $soc-Behance; 
  }
}
.soc-Bing {
  &:before {
    content: $soc-Bing; 
  }
}
.soc-BitBucket {
  &:before {
    content: $soc-BitBucket; 
  }
}
.soc-Blackberry {
  &:before {
    content: $soc-Blackberry; 
  }
}
.soc-Blizzard {
  &:before {
    content: $soc-Blizzard; 
  }
}
.soc-Blogger {
  &:before {
    content: $soc-Blogger; 
  }
}
.soc-Bloglovin {
  &:before {
    content: $soc-Bloglovin; 
  }
}
.soc-BlueSky {
  &:before {
    content: $soc-BlueSky; 
  }
}
.soc-Bonanza {
  &:before {
    content: $soc-Bonanza; 
  }
}
.soc-Bookbub {
  &:before {
    content: $soc-Bookbub; 
  }
}
.soc-Booking {
  &:before {
    content: $soc-Booking; 
  }
}
.soc-Buffer {
  &:before {
    content: $soc-Buffer; 
  }
}
.soc-Buzzly {
  &:before {
    content: $soc-Buzzly; 
  }
}
.soc-Calendly {
  &:before {
    content: $soc-Calendly; 
  }
}
.soc-Cara {
  &:before {
    content: $soc-Cara; 
  }
}
.soc-Carrd {
  &:before {
    content: $soc-Carrd; 
  }
}
.soc-CdBaby {
  &:before {
    content: $soc-CdBaby; 
  }
}
.soc-CharacterHub {
  &:before {
    content: $soc-CharacterHub; 
  }
}
.soc-Chrome {
  &:before {
    content: $soc-Chrome; 
  }
}
.soc-CodePen {
  &:before {
    content: $soc-CodePen; 
  }
}
.soc-CoderWall {
  &:before {
    content: $soc-CoderWall; 
  }
}
.soc-Codered {
  &:before {
    content: $soc-Codered; 
  }
}
.soc-Cohost {
  &:before {
    content: $soc-Cohost; 
  }
}
.soc-Collectorz {
  &:before {
    content: $soc-Collectorz; 
  }
}
.soc-ComicFury {
  &:before {
    content: $soc-ComicFury; 
  }
}
.soc-CraigsList {
  &:before {
    content: $soc-CraigsList; 
  }
}
.soc-CrunchBase {
  &:before {
    content: $soc-CrunchBase; 
  }
}
.soc-Curiouscat {
  &:before {
    content: $soc-Curiouscat; 
  }
}
.soc-Curse {
  &:before {
    content: $soc-Curse; 
  }
}
.soc-Dailymotion {
  &:before {
    content: $soc-Dailymotion; 
  }
}
.soc-Debian {
  &:before {
    content: $soc-Debian; 
  }
}
.soc-Deezer {
  &:before {
    content: $soc-Deezer; 
  }
}
.soc-Delicious {
  &:before {
    content: $soc-Delicious; 
  }
}
.soc-Deviantart {
  &:before {
    content: $soc-Deviantart; 
  }
}
.soc-Diablo {
  &:before {
    content: $soc-Diablo; 
  }
}
.soc-Digg {
  &:before {
    content: $soc-Digg; 
  }
}
.soc-DigitalOcean {
  &:before {
    content: $soc-DigitalOcean; 
  }
}
.soc-Discord {
  &:before {
    content: $soc-Discord; 
  }
}
.soc-Disqus {
  &:before {
    content: $soc-Disqus; 
  }
}
.soc-Dlive {
  &:before {
    content: $soc-Dlive; 
  }
}
.soc-Doodle {
  &:before {
    content: $soc-Doodle; 
  }
}
.soc-Douban {
  &:before {
    content: $soc-Douban; 
  }
}
.soc-Draugiem {
  &:before {
    content: $soc-Draugiem; 
  }
}
.soc-Dribbble {
  &:before {
    content: $soc-Dribbble; 
  }
}
.soc-Drupal {
  &:before {
    content: $soc-Drupal; 
  }
}
.soc-Ebay {
  &:before {
    content: $soc-Ebay; 
  }
}
.soc-Eitaa {
  &:before {
    content: $soc-Eitaa; 
  }
}
.soc-ElementaryOS {
  &:before {
    content: $soc-ElementaryOS; 
  }
}
.soc-Ello {
  &:before {
    content: $soc-Ello; 
  }
}
.soc-Endomodo {
  &:before {
    content: $soc-Endomodo; 
  }
}
.soc-Envato {
  &:before {
    content: $soc-Envato; 
  }
}
.soc-Etsy {
  &:before {
    content: $soc-Etsy; 
  }
}
.soc-Facebook {
  &:before {
    content: $soc-Facebook; 
  }
}
.soc-FeedBurner {
  &:before {
    content: $soc-FeedBurner; 
  }
}
.soc-FilmFreeway {
  &:before {
    content: $soc-FilmFreeway; 
  }
}
.soc-FilmWeb {
  &:before {
    content: $soc-FilmWeb; 
  }
}
.soc-Firefox {
  &:before {
    content: $soc-Firefox; 
  }
}
.soc-Fiverr {
  &:before {
    content: $soc-Fiverr; 
  }
}
.soc-Flash {
  &:before {
    content: $soc-Flash; 
  }
}
.soc-Flattr {
  &:before {
    content: $soc-Flattr; 
  }
}
.soc-Flickr {
  &:before {
    content: $soc-Flickr; 
  }
}
.soc-FlightRising {
  &:before {
    content: $soc-FlightRising; 
  }
}
.soc-FlipBoard {
  &:before {
    content: $soc-FlipBoard; 
  }
}
.soc-FlowCode {
  &:before {
    content: $soc-FlowCode; 
  }
}
.soc-Formulr {
  &:before {
    content: $soc-Formulr; 
  }
}
.soc-Forrst {
  &:before {
    content: $soc-Forrst; 
  }
}
.soc-FourSquare {
  &:before {
    content: $soc-FourSquare; 
  }
}
.soc-Freelancer {
  &:before {
    content: $soc-Freelancer; 
  }
}
.soc-FriendFeed {
  &:before {
    content: $soc-FriendFeed; 
  }
}
.soc-Fundable {
  &:before {
    content: $soc-Fundable; 
  }
}
.soc-FurAffinity {
  &:before {
    content: $soc-FurAffinity; 
  }
}
.soc-Furvilla {
  &:before {
    content: $soc-Furvilla; 
  }
}
.soc-Fyuse {
  &:before {
    content: $soc-Fyuse; 
  }
}
.soc-Gag {
  &:before {
    content: $soc-Gag; 
  }
}
.soc-GameFor {
  &:before {
    content: $soc-GameFor; 
  }
}
.soc-GameJolt {
  &:before {
    content: $soc-GameJolt; 
  }
}
.soc-GameWisp {
  &:before {
    content: $soc-GameWisp; 
  }
}
.soc-Ghost {
  &:before {
    content: $soc-Ghost; 
  }
}
.soc-GitHub {
  &:before {
    content: $soc-GitHub; 
  }
}
.soc-Gitlab {
  &:before {
    content: $soc-Gitlab; 
  }
}
.soc-Gitter {
  &:before {
    content: $soc-Gitter; 
  }
}
.soc-Glaze {
  &:before {
    content: $soc-Glaze; 
  }
}
.soc-Gnome {
  &:before {
    content: $soc-Gnome; 
  }
}
.soc-GoToMeeting {
  &:before {
    content: $soc-GoToMeeting; 
  }
}
.soc-GoodReads {
  &:before {
    content: $soc-GoodReads; 
  }
}
.soc-Google {
  &:before {
    content: $soc-Google; 
  }
}
.soc-GoogleCalendar {
  &:before {
    content: $soc-GoogleCalendar; 
  }
}
.soc-GoogleGroups {
  &:before {
    content: $soc-GoogleGroups; 
  }
}
.soc-GoogleHangouts {
  &:before {
    content: $soc-GoogleHangouts; 
  }
}
.soc-GoogleMaps {
  &:before {
    content: $soc-GoogleMaps; 
  }
}
.soc-GooglePhotos {
  &:before {
    content: $soc-GooglePhotos; 
  }
}
.soc-GooglePlayMusic {
  &:before {
    content: $soc-GooglePlayMusic; 
  }
}
.soc-GooglePlus {
  &:before {
    content: $soc-GooglePlus; 
  }
}
.soc-GoogleScholar {
  &:before {
    content: $soc-GoogleScholar; 
  }
}
.soc-GrooveShark {
  &:before {
    content: $soc-GrooveShark; 
  }
}
.soc-Guru {
  &:before {
    content: $soc-Guru; 
  }
}
.soc-Gust {
  &:before {
    content: $soc-Gust; 
  }
}
.soc-HackerNews {
  &:before {
    content: $soc-HackerNews; 
  }
}
.soc-HackerOne {
  &:before {
    content: $soc-HackerOne; 
  }
}
.soc-HackerRank {
  &:before {
    content: $soc-HackerRank; 
  }
}
.soc-HearthStone {
  &:before {
    content: $soc-HearthStone; 
  }
}
.soc-Hellocoton {
  &:before {
    content: $soc-Hellocoton; 
  }
}
.soc-Heroes {
  &:before {
    content: $soc-Heroes; 
  }
}
.soc-HomeAdvisor {
  &:before {
    content: $soc-HomeAdvisor; 
  }
}
.soc-Homefy {
  &:before {
    content: $soc-Homefy; 
  }
}
.soc-Homes {
  &:before {
    content: $soc-Homes; 
  }
}
.soc-Horde {
  &:before {
    content: $soc-Horde; 
  }
}
.soc-Houzz {
  &:before {
    content: $soc-Houzz; 
  }
}
.soc-IMDb {
  &:before {
    content: $soc-IMDb; 
  }
}
.soc-Icq {
  &:before {
    content: $soc-Icq; 
  }
}
.soc-Identica {
  &:before {
    content: $soc-Identica; 
  }
}
.soc-IndieDB {
  &:before {
    content: $soc-IndieDB; 
  }
}
.soc-Inkblot {
  &:before {
    content: $soc-Inkblot; 
  }
}
.soc-Instagram {
  &:before {
    content: $soc-Instagram; 
  }
}
.soc-Instructables {
  &:before {
    content: $soc-Instructables; 
  }
}
.soc-Internet {
  &:before {
    content: $soc-Internet; 
  }
}
.soc-Invision {
  &:before {
    content: $soc-Invision; 
  }
}
.soc-Issuu {
  &:before {
    content: $soc-Issuu; 
  }
}
.soc-Istock {
  &:before {
    content: $soc-Istock; 
  }
}
.soc-Itaku {
  &:before {
    content: $soc-Itaku; 
  }
}
.soc-Itchio {
  &:before {
    content: $soc-Itchio; 
  }
}
.soc-Itunes {
  &:before {
    content: $soc-Itunes; 
  }
}
.soc-Jamendo {
  &:before {
    content: $soc-Jamendo; 
  }
}
.soc-KeyBase {
  &:before {
    content: $soc-KeyBase; 
  }
}
.soc-Kitsu {
  &:before {
    content: $soc-Kitsu; 
  }
}
.soc-Ko-Fi {
  &:before {
    content: $soc-Ko-Fi; 
  }
}
.soc-Kobo {
  &:before {
    content: $soc-Kobo; 
  }
}
.soc-Lanyrd {
  &:before {
    content: $soc-Lanyrd; 
  }
}
.soc-LastFM {
  &:before {
    content: $soc-LastFM; 
  }
}
.soc-LeprdSpace {
  &:before {
    content: $soc-LeprdSpace; 
  }
}
.soc-LetterBoxd {
  &:before {
    content: $soc-LetterBoxd; 
  }
}
.soc-Line {
  &:before {
    content: $soc-Line; 
  }
}
.soc-LinkedIn {
  &:before {
    content: $soc-LinkedIn; 
  }
}
.soc-Linktree {
  &:before {
    content: $soc-Linktree; 
  }
}
.soc-LiveJournal {
  &:before {
    content: $soc-LiveJournal; 
  }
}
.soc-LiveMaster {
  &:before {
    content: $soc-LiveMaster; 
  }
}
.soc-LogMeIn {
  &:before {
    content: $soc-LogMeIn; 
  }
}
.soc-Loomly {
  &:before {
    content: $soc-Loomly; 
  }
}
.soc-Lyft {
  &:before {
    content: $soc-Lyft; 
  }
}
.soc-Mail {
  &:before {
    content: $soc-Mail; 
  }
}
.soc-Mailru {
  &:before {
    content: $soc-Mailru; 
  }
}
.soc-Mastodon {
  &:before {
    content: $soc-Mastodon; 
  }
}
.soc-Matrix {
  &:before {
    content: $soc-Matrix; 
  }
}
.soc-Medium {
  &:before {
    content: $soc-Medium; 
  }
}
.soc-Meetup {
  &:before {
    content: $soc-Meetup; 
  }
}
.soc-Messenger {
  &:before {
    content: $soc-Messenger; 
  }
}
.soc-Metapop {
  &:before {
    content: $soc-Metapop; 
  }
}
.soc-Microsoft {
  &:before {
    content: $soc-Microsoft; 
  }
}
.soc-Mix {
  &:before {
    content: $soc-Mix; 
  }
}
.soc-Mixer {
  &:before {
    content: $soc-Mixer; 
  }
}
.soc-MobCrush {
  &:before {
    content: $soc-MobCrush; 
  }
}
.soc-Moddb {
  &:before {
    content: $soc-Moddb; 
  }
}
.soc-ModelMayhem {
  &:before {
    content: $soc-ModelMayhem; 
  }
}
.soc-ModerNeopets {
  &:before {
    content: $soc-ModerNeopets; 
  }
}
.soc-Mumble {
  &:before {
    content: $soc-Mumble; 
  }
}
.soc-MyAnimeList {
  &:before {
    content: $soc-MyAnimeList; 
  }
}
.soc-MySpace {
  &:before {
    content: $soc-MySpace; 
  }
}
.soc-NameMC {
  &:before {
    content: $soc-NameMC; 
  }
}
.soc-Napster {
  &:before {
    content: $soc-Napster; 
  }
}
.soc-Natgeo {
  &:before {
    content: $soc-Natgeo; 
  }
}
.soc-Naver {
  &:before {
    content: $soc-Naver; 
  }
}
.soc-Nekoweb {
  &:before {
    content: $soc-Nekoweb; 
  }
}
.soc-Neocities {
  &:before {
    content: $soc-Neocities; 
  }
}
.soc-Neopets {
  &:before {
    content: $soc-Neopets; 
  }
}
.soc-Newgrounds {
  &:before {
    content: $soc-Newgrounds; 
  }
}
.soc-NewsVine {
  &:before {
    content: $soc-NewsVine; 
  }
}
.soc-Nextdoor {
  &:before {
    content: $soc-Nextdoor; 
  }
}
.soc-Niconico {
  &:before {
    content: $soc-Niconico; 
  }
}
.soc-Nintendo {
  &:before {
    content: $soc-Nintendo; 
  }
}
.soc-Npm {
  &:before {
    content: $soc-Npm; 
  }
}
.soc-Odnoklassniki {
  &:before {
    content: $soc-Odnoklassniki; 
  }
}
.soc-Opera {
  &:before {
    content: $soc-Opera; 
  }
}
.soc-Origin {
  &:before {
    content: $soc-Origin; 
  }
}
.soc-Outlook {
  &:before {
    content: $soc-Outlook; 
  }
}
.soc-Overwatch {
  &:before {
    content: $soc-Overwatch; 
  }
}
.soc-Pandora {
  &:before {
    content: $soc-Pandora; 
  }
}
.soc-PaperDemon {
  &:before {
    content: $soc-PaperDemon; 
  }
}
.soc-Patreon {
  &:before {
    content: $soc-Patreon; 
  }
}
.soc-Paypal {
  &:before {
    content: $soc-Paypal; 
  }
}
.soc-Periscope {
  &:before {
    content: $soc-Periscope; 
  }
}
.soc-Persona {
  &:before {
    content: $soc-Persona; 
  }
}
.soc-PillowFort {
  &:before {
    content: $soc-PillowFort; 
  }
}
.soc-Pinterest {
  &:before {
    content: $soc-Pinterest; 
  }
}
.soc-Pixiv {
  &:before {
    content: $soc-Pixiv; 
  }
}
.soc-Play {
  &:before {
    content: $soc-Play; 
  }
}
.soc-PlayStation {
  &:before {
    content: $soc-PlayStation; 
  }
}
.soc-Player {
  &:before {
    content: $soc-Player; 
  }
}
.soc-Pocket {
  &:before {
    content: $soc-Pocket; 
  }
}
.soc-PronounsPage {
  &:before {
    content: $soc-PronounsPage; 
  }
}
.soc-Px {
  &:before {
    content: $soc-Px; 
  }
}
.soc-QRcode {
  &:before {
    content: $soc-QRcode; 
  }
}
.soc-Qobuz {
  &:before {
    content: $soc-Qobuz; 
  }
}
.soc-Qq {
  &:before {
    content: $soc-Qq; 
  }
}
.soc-Quora {
  &:before {
    content: $soc-Quora; 
  }
}
.soc-RSS {
  &:before {
    content: $soc-RSS; 
  }
}
.soc-RaidCall {
  &:before {
    content: $soc-RaidCall; 
  }
}
.soc-Ravelry {
  &:before {
    content: $soc-Ravelry; 
  }
}
.soc-Realtor {
  &:before {
    content: $soc-Realtor; 
  }
}
.soc-RedBubble {
  &:before {
    content: $soc-RedBubble; 
  }
}
.soc-Reddit {
  &:before {
    content: $soc-Reddit; 
  }
}
.soc-Redfin {
  &:before {
    content: $soc-Redfin; 
  }
}
.soc-Remote {
  &:before {
    content: $soc-Remote; 
  }
}
.soc-Renren {
  &:before {
    content: $soc-Renren; 
  }
}
.soc-Rentry {
  &:before {
    content: $soc-Rentry; 
  }
}
.soc-ResearchGate {
  &:before {
    content: $soc-ResearchGate; 
  }
}
.soc-ResidentAdvisor {
  &:before {
    content: $soc-ResidentAdvisor; 
  }
}
.soc-Retrospring {
  &:before {
    content: $soc-Retrospring; 
  }
}
.soc-ReverbNation {
  &:before {
    content: $soc-ReverbNation; 
  }
}
.soc-Roblox {
  &:before {
    content: $soc-Roblox; 
  }
}
.soc-Seedrs {
  &:before {
    content: $soc-Seedrs; 
  }
}
.soc-SeenThis {
  &:before {
    content: $soc-SeenThis; 
  }
}
.soc-SharePoint {
  &:before {
    content: $soc-SharePoint; 
  }
}
.soc-ShareThis {
  &:before {
    content: $soc-ShareThis; 
  }
}
.soc-SheezyArt {
  &:before {
    content: $soc-SheezyArt; 
  }
}
.soc-Shopify {
  &:before {
    content: $soc-Shopify; 
  }
}
.soc-SketchFab {
  &:before {
    content: $soc-SketchFab; 
  }
}
.soc-Skype {
  &:before {
    content: $soc-Skype; 
  }
}
.soc-Slack {
  &:before {
    content: $soc-Slack; 
  }
}
.soc-SlideShare {
  &:before {
    content: $soc-SlideShare; 
  }
}
.soc-SmashCast {
  &:before {
    content: $soc-SmashCast; 
  }
}
.soc-SmashWords {
  &:before {
    content: $soc-SmashWords; 
  }
}
.soc-SmugMug {
  &:before {
    content: $soc-SmugMug; 
  }
}
.soc-SnapChat {
  &:before {
    content: $soc-SnapChat; 
  }
}
.soc-Society6 {
  &:before {
    content: $soc-Society6; 
  }
}
.soc-SongKick {
  &:before {
    content: $soc-SongKick; 
  }
}
.soc-Soroush {
  &:before {
    content: $soc-Soroush; 
  }
}
.soc-SoundCloud {
  &:before {
    content: $soc-SoundCloud; 
  }
}
.soc-Spip {
  &:before {
    content: $soc-Spip; 
  }
}
.soc-Splice {
  &:before {
    content: $soc-Splice; 
  }
}
.soc-Spotify {
  &:before {
    content: $soc-Spotify; 
  }
}
.soc-SpreadShirt {
  &:before {
    content: $soc-SpreadShirt; 
  }
}
.soc-SquareSpace {
  &:before {
    content: $soc-SquareSpace; 
  }
}
.soc-StackExchange {
  &:before {
    content: $soc-StackExchange; 
  }
}
.soc-StackOverflow {
  &:before {
    content: $soc-StackOverflow; 
  }
}
.soc-Stage32 {
  &:before {
    content: $soc-Stage32; 
  }
}
.soc-StarCraft {
  &:before {
    content: $soc-StarCraft; 
  }
}
.soc-StayFriends {
  &:before {
    content: $soc-StayFriends; 
  }
}
.soc-Steam {
  &:before {
    content: $soc-Steam; 
  }
}
.soc-Stitcher {
  &:before {
    content: $soc-Stitcher; 
  }
}
.soc-StoreHouse {
  &:before {
    content: $soc-StoreHouse; 
  }
}
.soc-Strava {
  &:before {
    content: $soc-Strava; 
  }
}
.soc-StrawPage {
  &:before {
    content: $soc-StrawPage; 
  }
}
.soc-StreamJar {
  &:before {
    content: $soc-StreamJar; 
  }
}
.soc-StrudelCafe {
  &:before {
    content: $soc-StrudelCafe; 
  }
}
.soc-StumbleUpon {
  &:before {
    content: $soc-StumbleUpon; 
  }
}
.soc-Swarm {
  &:before {
    content: $soc-Swarm; 
  }
}
.soc-TeamSpeak {
  &:before {
    content: $soc-TeamSpeak; 
  }
}
.soc-TeamViewer {
  &:before {
    content: $soc-TeamViewer; 
  }
}
.soc-Technorati {
  &:before {
    content: $soc-Technorati; 
  }
}
.soc-Telegram {
  &:before {
    content: $soc-Telegram; 
  }
}
.soc-Threads {
  &:before {
    content: $soc-Threads; 
  }
}
.soc-Threema {
  &:before {
    content: $soc-Threema; 
  }
}
.soc-Throne {
  &:before {
    content: $soc-Throne; 
  }
}
.soc-Tidal {
  &:before {
    content: $soc-Tidal; 
  }
}
.soc-Tiktok {
  &:before {
    content: $soc-Tiktok; 
  }
}
.soc-Tinder {
  &:before {
    content: $soc-Tinder; 
  }
}
.soc-ToneDen {
  &:before {
    content: $soc-ToneDen; 
  }
}
.soc-Toptal {
  &:before {
    content: $soc-Toptal; 
  }
}
.soc-Torial {
  &:before {
    content: $soc-Torial; 
  }
}
.soc-ToyHouse {
  &:before {
    content: $soc-ToyHouse; 
  }
}
.soc-Tracks {
  &:before {
    content: $soc-Tracks; 
  }
}
.soc-TraxSource {
  &:before {
    content: $soc-TraxSource; 
  }
}
.soc-Trello {
  &:before {
    content: $soc-Trello; 
  }
}
.soc-TripAdvisor {
  &:before {
    content: $soc-TripAdvisor; 
  }
}
.soc-Tripit {
  &:before {
    content: $soc-Tripit; 
  }
}
.soc-TripleJ {
  &:before {
    content: $soc-TripleJ; 
  }
}
.soc-Trulia {
  &:before {
    content: $soc-Trulia; 
  }
}
.soc-Tumblr {
  &:before {
    content: $soc-Tumblr; 
  }
}
.soc-TuneIn {
  &:before {
    content: $soc-TuneIn; 
  }
}
.soc-Twitch {
  &:before {
    content: $soc-Twitch; 
  }
}
.soc-Uber {
  &:before {
    content: $soc-Uber; 
  }
}
.soc-Ubuntu {
  &:before {
    content: $soc-Ubuntu; 
  }
}
.soc-Udemy {
  &:before {
    content: $soc-Udemy; 
  }
}
.soc-UnSplash {
  &:before {
    content: $soc-UnSplash; 
  }
}
.soc-UpWork {
  &:before {
    content: $soc-UpWork; 
  }
}
.soc-VGen {
  &:before {
    content: $soc-VGen; 
  }
}
.soc-VStream {
  &:before {
    content: $soc-VStream; 
  }
}
.soc-Ventrilo {
  &:before {
    content: $soc-Ventrilo; 
  }
}
.soc-Viadeo {
  &:before {
    content: $soc-Viadeo; 
  }
}
.soc-Viber {
  &:before {
    content: $soc-Viber; 
  }
}
.soc-ViewBug {
  &:before {
    content: $soc-ViewBug; 
  }
}
.soc-Vimeo {
  &:before {
    content: $soc-Vimeo; 
  }
}
.soc-Vkontakte {
  &:before {
    content: $soc-Vkontakte; 
  }
}
.soc-Vsco {
  &:before {
    content: $soc-Vsco; 
  }
}
.soc-Warcraft {
  &:before {
    content: $soc-Warcraft; 
  }
}
.soc-WeChat {
  &:before {
    content: $soc-WeChat; 
  }
}
.soc-Weasyl {
  &:before {
    content: $soc-Weasyl; 
  }
}
.soc-Weibo {
  &:before {
    content: $soc-Weibo; 
  }
}
.soc-WhatsApp {
  &:before {
    content: $soc-WhatsApp; 
  }
}
.soc-Wickr {
  &:before {
    content: $soc-Wickr; 
  }
}
.soc-Wikipedia {
  &:before {
    content: $soc-Wikipedia; 
  }
}
.soc-WindGuru {
  &:before {
    content: $soc-WindGuru; 
  }
}
.soc-Windows {
  &:before {
    content: $soc-Windows; 
  }
}
.soc-Wix {
  &:before {
    content: $soc-Wix; 
  }
}
.soc-WordPress {
  &:before {
    content: $soc-WordPress; 
  }
}
.soc-Wykop {
  &:before {
    content: $soc-Wykop; 
  }
}
.soc-X {
  &:before {
    content: $soc-X; 
  }
}
.soc-Xbox {
  &:before {
    content: $soc-Xbox; 
  }
}
.soc-Xing {
  &:before {
    content: $soc-Xing; 
  }
}
.soc-YTGaming {
  &:before {
    content: $soc-YTGaming; 
  }
}
.soc-Yahoo {
  &:before {
    content: $soc-Yahoo; 
  }
}
.soc-Yammer {
  &:before {
    content: $soc-Yammer; 
  }
}
.soc-Yandex {
  &:before {
    content: $soc-Yandex; 
  }
}
.soc-Yelp {
  &:before {
    content: $soc-Yelp; 
  }
}
.soc-YouNow {
  &:before {
    content: $soc-YouNow; 
  }
}
.soc-Youtube {
  &:before {
    content: $soc-Youtube; 
  }
}
.soc-Zapier {
  &:before {
    content: $soc-Zapier; 
  }
}
.soc-Zazzle {
  &:before {
    content: $soc-Zazzle; 
  }
}
.soc-Zerply {
  &:before {
    content: $soc-Zerply; 
  }
}
.soc-Zillow {
  &:before {
    content: $soc-Zillow; 
  }
}
.soc-Zomato {
  &:before {
    content: $soc-Zomato; 
  }
}
.soc-Zoom {
  &:before {
    content: $soc-Zoom; 
  }
}
.soc-Zynga {
  &:before {
    content: $soc-Zynga; 
  }
}
.soc-macOS {
  &:before {
    content: $soc-macOS; 
  }
}
.soc-mixcloud {
  &:before {
    content: $soc-mixcloud; 
  }
}
.soc-reCAPTCHA {
  &:before {
    content: $soc-reCAPTCHA; 
  }
}

