@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?x8rbgt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?x8rbgt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?x8rbgt##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.social-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.soc-AirBnB {
  &:before {
    content: $soc-AirBnB; 
  }
}
.soc-Alibaba {
  &:before {
    content: $soc-Alibaba; 
  }
}
.soc-AliExpress {
  &:before {
    content: $soc-AliExpress; 
  }
}
.soc-Alliance {
  &:before {
    content: $soc-Alliance; 
  }
}
.soc-Amazon {
  &:before {
    content: $soc-Amazon; 
  }
}
.soc-Amplement {
  &:before {
    content: $soc-Amplement; 
  }
}
.soc-Android {
  &:before {
    content: $soc-Android; 
  }
}
.soc-AngelList {
  &:before {
    content: $soc-AngelList; 
  }
}
.soc-AngiesList {
  &:before {
    content: $soc-AngiesList; 
  }
}
.soc-Apple {
  &:before {
    content: $soc-Apple; 
  }
}
.soc-AppNet {
  &:before {
    content: $soc-AppNet; 
  }
}
.soc-AppStore {
  &:before {
    content: $soc-AppStore; 
  }
}
.soc-Archiveorg {
  &:before {
    content: $soc-Archiveorg; 
  }
}
.soc-ArtFight {
  &:before {
    content: $soc-ArtFight; 
  }
}
.soc-Artfol {
  &:before {
    content: $soc-Artfol; 
  }
}
.soc-Artistree {
  &:before {
    content: $soc-Artistree; 
  }
}
.soc-ArtStation {
  &:before {
    content: $soc-ArtStation; 
  }
}
.soc-Ask {
  &:before {
    content: $soc-Ask; 
  }
}
.soc-Augment {
  &:before {
    content: $soc-Augment; 
  }
}
.soc-Avvo {
  &:before {
    content: $soc-Avvo; 
  }
}
.soc-Baidu {
  &:before {
    content: $soc-Baidu; 
  }
}
.soc-Bale {
  &:before {
    content: $soc-Bale; 
  }
}
.soc-BandCamp {
  &:before {
    content: $soc-BandCamp; 
  }
}
.soc-BattleNet {
  &:before {
    content: $soc-BattleNet; 
  }
}
.soc-BeatPort {
  &:before {
    content: $soc-BeatPort; 
  }
}
.soc-BeBee {
  &:before {
    content: $soc-BeBee; 
  }
}
.soc-Bebo {
  &:before {
    content: $soc-Bebo; 
  }
}
.soc-Behance {
  &:before {
    content: $soc-Behance; 
  }
}
.soc-Bing {
  &:before {
    content: $soc-Bing; 
  }
}
.soc-BitBucket {
  &:before {
    content: $soc-BitBucket; 
  }
}
.soc-Blackberry {
  &:before {
    content: $soc-Blackberry; 
  }
}
.soc-Blizzard {
  &:before {
    content: $soc-Blizzard; 
  }
}
.soc-Blogger {
  &:before {
    content: $soc-Blogger; 
  }
}
.soc-Bloglovin {
  &:before {
    content: $soc-Bloglovin; 
  }
}
.soc-BlueSky {
  &:before {
    content: $soc-BlueSky; 
  }
}
.soc-Bonanza {
  &:before {
    content: $soc-Bonanza; 
  }
}
.soc-Bookbub {
  &:before {
    content: $soc-Bookbub; 
  }
}
.soc-Booking {
  &:before {
    content: $soc-Booking; 
  }
}
.soc-Buffer {
  &:before {
    content: $soc-Buffer; 
  }
}
.soc-Buzzly {
  &:before {
    content: $soc-Buzzly; 
  }
}
.soc-Calendly {
  &:before {
    content: $soc-Calendly; 
  }
}
.soc-Cara {
  &:before {
    content: $soc-Cara; 
  }
}
.soc-Carrd {
  &:before {
    content: $soc-Carrd; 
  }
}
.soc-CdBaby {
  &:before {
    content: $soc-CdBaby; 
  }
}
.soc-Chrome {
  &:before {
    content: $soc-Chrome; 
  }
}
.soc-CodePen {
  &:before {
    content: $soc-CodePen; 
  }
}
.soc-Codered {
  &:before {
    content: $soc-Codered; 
  }
}
.soc-CoderWall {
  &:before {
    content: $soc-CoderWall; 
  }
}
.soc-Collectorz {
  &:before {
    content: $soc-Collectorz; 
  }
}
.soc-ComicFury {
  &:before {
    content: $soc-ComicFury; 
  }
}
.soc-CraigsList {
  &:before {
    content: $soc-CraigsList; 
  }
}
.soc-CrunchBase {
  &:before {
    content: $soc-CrunchBase; 
  }
}
.soc-Curiouscat {
  &:before {
    content: $soc-Curiouscat; 
  }
}
.soc-Curse {
  &:before {
    content: $soc-Curse; 
  }
}
.soc-Dailymotion {
  &:before {
    content: $soc-Dailymotion; 
  }
}
.soc-Debian {
  &:before {
    content: $soc-Debian; 
  }
}
.soc-Deezer {
  &:before {
    content: $soc-Deezer; 
  }
}
.soc-Delicious {
  &:before {
    content: $soc-Delicious; 
  }
}
.soc-Deviantart {
  &:before {
    content: $soc-Deviantart; 
  }
}
.soc-Diablo {
  &:before {
    content: $soc-Diablo; 
  }
}
.soc-Digg {
  &:before {
    content: $soc-Digg; 
  }
}
.soc-Digital-ocean {
  &:before {
    content: $soc-Digital-ocean; 
  }
}
.soc-Discord {
  &:before {
    content: $soc-Discord; 
  }
}
.soc-Disqus {
  &:before {
    content: $soc-Disqus; 
  }
}
.soc-Dlive {
  &:before {
    content: $soc-Dlive; 
  }
}
.soc-Doodle {
  &:before {
    content: $soc-Doodle; 
  }
}
.soc-Douban {
  &:before {
    content: $soc-Douban; 
  }
}
.soc-Draugiem {
  &:before {
    content: $soc-Draugiem; 
  }
}
.soc-Dribbble {
  &:before {
    content: $soc-Dribbble; 
  }
}
.soc-Drupal {
  &:before {
    content: $soc-Drupal; 
  }
}
.soc-Ebay {
  &:before {
    content: $soc-Ebay; 
  }
}
.soc-Eitaa {
  &:before {
    content: $soc-Eitaa; 
  }
}
.soc-ElementaryOS {
  &:before {
    content: $soc-ElementaryOS; 
  }
}
.soc-Ello {
  &:before {
    content: $soc-Ello; 
  }
}
.soc-Endomodo {
  &:before {
    content: $soc-Endomodo; 
  }
}
.soc-Envato {
  &:before {
    content: $soc-Envato; 
  }
}
.soc-Etsy {
  &:before {
    content: $soc-Etsy; 
  }
}
.soc-Facebook {
  &:before {
    content: $soc-Facebook; 
  }
}
.soc-Feedburner {
  &:before {
    content: $soc-Feedburner; 
  }
}
.soc-Filmfreeway {
  &:before {
    content: $soc-Filmfreeway; 
  }
}
.soc-Filmweb {
  &:before {
    content: $soc-Filmweb; 
  }
}
.soc-Firefox {
  &:before {
    content: $soc-Firefox; 
  }
}
.soc-Fiverr {
  &:before {
    content: $soc-Fiverr; 
  }
}
.soc-Flattr {
  &:before {
    content: $soc-Flattr; 
  }
}
.soc-Flickr {
  &:before {
    content: $soc-Flickr; 
  }
}
.soc-Flipboard {
  &:before {
    content: $soc-Flipboard; 
  }
}
.soc-Flowcode {
  &:before {
    content: $soc-Flowcode; 
  }
}
.soc-Formulr {
  &:before {
    content: $soc-Formulr; 
  }
}
.soc-Forrst {
  &:before {
    content: $soc-Forrst; 
  }
}
.soc-Foursquare {
  &:before {
    content: $soc-Foursquare; 
  }
}
.soc-Freelancer {
  &:before {
    content: $soc-Freelancer; 
  }
}
.soc-Friendfeed {
  &:before {
    content: $soc-Friendfeed; 
  }
}
.soc-Fundable {
  &:before {
    content: $soc-Fundable; 
  }
}
.soc-Furaffinity {
  &:before {
    content: $soc-Furaffinity; 
  }
}
.soc-Furvilla {
  &:before {
    content: $soc-Furvilla; 
  }
}
.soc-Fyuse {
  &:before {
    content: $soc-Fyuse; 
  }
}
.soc-Gag {
  &:before {
    content: $soc-Gag; 
  }
}
.soc-Gamefor {
  &:before {
    content: $soc-Gamefor; 
  }
}
.soc-Gamejolt {
  &:before {
    content: $soc-Gamejolt; 
  }
}
.soc-Gamewisp {
  &:before {
    content: $soc-Gamewisp; 
  }
}
.soc-Ghost {
  &:before {
    content: $soc-Ghost; 
  }
}
.soc-Github {
  &:before {
    content: $soc-Github; 
  }
}
.soc-Gitlab {
  &:before {
    content: $soc-Gitlab; 
  }
}
.soc-Gitter {
  &:before {
    content: $soc-Gitter; 
  }
}
.soc-Glaze {
  &:before {
    content: $soc-Glaze; 
  }
}
.soc-Gnome {
  &:before {
    content: $soc-Gnome; 
  }
}
.soc-Goodreads {
  &:before {
    content: $soc-Goodreads; 
  }
}
.soc-Google {
  &:before {
    content: $soc-Google; 
  }
}
.soc-Googlecalendar {
  &:before {
    content: $soc-Googlecalendar; 
  }
}
.soc-Googlegroups {
  &:before {
    content: $soc-Googlegroups; 
  }
}
.soc-Googlehangouts {
  &:before {
    content: $soc-Googlehangouts; 
  }
}
.soc-Googlemaps {
  &:before {
    content: $soc-Googlemaps; 
  }
}
.soc-Googlephotos {
  &:before {
    content: $soc-Googlephotos; 
  }
}
.soc-Googleplaymusic {
  &:before {
    content: $soc-Googleplaymusic; 
  }
}
.soc-Googleplus {
  &:before {
    content: $soc-Googleplus; 
  }
}
.soc-Googlescholar {
  &:before {
    content: $soc-Googlescholar; 
  }
}
.soc-Gotomeeting {
  &:before {
    content: $soc-Gotomeeting; 
  }
}
.soc-Grooveshark {
  &:before {
    content: $soc-Grooveshark; 
  }
}
.soc-Guru {
  &:before {
    content: $soc-Guru; 
  }
}
.soc-Gust {
  &:before {
    content: $soc-Gust; 
  }
}
.soc-Hackernews {
  &:before {
    content: $soc-Hackernews; 
  }
}
.soc-Hackerone {
  &:before {
    content: $soc-Hackerone; 
  }
}
.soc-Hackerrank {
  &:before {
    content: $soc-Hackerrank; 
  }
}
.soc-Hearthstone {
  &:before {
    content: $soc-Hearthstone; 
  }
}
.soc-Hellocoton {
  &:before {
    content: $soc-Hellocoton; 
  }
}
.soc-Heroes {
  &:before {
    content: $soc-Heroes; 
  }
}
.soc-Homeadvisor {
  &:before {
    content: $soc-Homeadvisor; 
  }
}
.soc-Homefy {
  &:before {
    content: $soc-Homefy; 
  }
}
.soc-Homes {
  &:before {
    content: $soc-Homes; 
  }
}
.soc-Horde {
  &:before {
    content: $soc-Horde; 
  }
}
.soc-Houzz {
  &:before {
    content: $soc-Houzz; 
  }
}
.soc-Icq {
  &:before {
    content: $soc-Icq; 
  }
}
.soc-Identica {
  &:before {
    content: $soc-Identica; 
  }
}
.soc-Imdb {
  &:before {
    content: $soc-Imdb; 
  }
}
.soc-Indiedb {
  &:before {
    content: $soc-Indiedb; 
  }
}
.soc-Inkblot {
  &:before {
    content: $soc-Inkblot; 
  }
}
.soc-Instagram {
  &:before {
    content: $soc-Instagram; 
  }
}
.soc-Instructables {
  &:before {
    content: $soc-Instructables; 
  }
}
.soc-Internet {
  &:before {
    content: $soc-Internet; 
  }
}
.soc-Invision {
  &:before {
    content: $soc-Invision; 
  }
}
.soc-Issuu {
  &:before {
    content: $soc-Issuu; 
  }
}
.soc-Istock {
  &:before {
    content: $soc-Istock; 
  }
}
.soc-Itchio {
  &:before {
    content: $soc-Itchio; 
  }
}
.soc-Itunes {
  &:before {
    content: $soc-Itunes; 
  }
}
.soc-Jamendo {
  &:before {
    content: $soc-Jamendo; 
  }
}
.soc-Keybase {
  &:before {
    content: $soc-Keybase; 
  }
}
.soc-Kobo {
  &:before {
    content: $soc-Kobo; 
  }
}
.soc-Ko-Fi {
  &:before {
    content: $soc-Ko-Fi; 
  }
}
.soc-Lanyrd {
  &:before {
    content: $soc-Lanyrd; 
  }
}
.soc-Lastfm {
  &:before {
    content: $soc-Lastfm; 
  }
}
.soc-Leprdspace {
  &:before {
    content: $soc-Leprdspace; 
  }
}
.soc-Letterboxd {
  &:before {
    content: $soc-Letterboxd; 
  }
}
.soc-Line {
  &:before {
    content: $soc-Line; 
  }
}
.soc-Linkedin {
  &:before {
    content: $soc-Linkedin; 
  }
}
.soc-Linktree {
  &:before {
    content: $soc-Linktree; 
  }
}
.soc-Livejournal {
  &:before {
    content: $soc-Livejournal; 
  }
}
.soc-Livemaster {
  &:before {
    content: $soc-Livemaster; 
  }
}
.soc-Logmein {
  &:before {
    content: $soc-Logmein; 
  }
}
.soc-Loomly {
  &:before {
    content: $soc-Loomly; 
  }
}
.soc-Lyft {
  &:before {
    content: $soc-Lyft; 
  }
}
.soc-Macos {
  &:before {
    content: $soc-Macos; 
  }
}
.soc-Mail {
  &:before {
    content: $soc-Mail; 
  }
}
.soc-Mailru {
  &:before {
    content: $soc-Mailru; 
  }
}
.soc-Mastodon {
  &:before {
    content: $soc-Mastodon; 
  }
}
.soc-Medium {
  &:before {
    content: $soc-Medium; 
  }
}
.soc-Meetup {
  &:before {
    content: $soc-Meetup; 
  }
}
.soc-Messenger {
  &:before {
    content: $soc-Messenger; 
  }
}
.soc-Metapop {
  &:before {
    content: $soc-Metapop; 
  }
}
.soc-Microsoft {
  &:before {
    content: $soc-Microsoft; 
  }
}
.soc-Mix {
  &:before {
    content: $soc-Mix; 
  }
}
.soc-Mixcloud {
  &:before {
    content: $soc-Mixcloud; 
  }
}
.soc-Mixer {
  &:before {
    content: $soc-Mixer; 
  }
}
.soc-Mobcrush {
  &:before {
    content: $soc-Mobcrush; 
  }
}
.soc-Moddb {
  &:before {
    content: $soc-Moddb; 
  }
}
.soc-Modelmayhem {
  &:before {
    content: $soc-Modelmayhem; 
  }
}
.soc-Moderneopets {
  &:before {
    content: $soc-Moderneopets; 
  }
}
.soc-Mumble {
  &:before {
    content: $soc-Mumble; 
  }
}
.soc-Myanimelist {
  &:before {
    content: $soc-Myanimelist; 
  }
}
.soc-Myspace {
  &:before {
    content: $soc-Myspace; 
  }
}
.soc-Napster {
  &:before {
    content: $soc-Napster; 
  }
}
.soc-Natgeo {
  &:before {
    content: $soc-Natgeo; 
  }
}
.soc-Naver {
  &:before {
    content: $soc-Naver; 
  }
}
.soc-Neocities {
  &:before {
    content: $soc-Neocities; 
  }
}
.soc-Neopets {
  &:before {
    content: $soc-Neopets; 
  }
}
.soc-Newgrounds {
  &:before {
    content: $soc-Newgrounds; 
  }
}
.soc-Newsvine {
  &:before {
    content: $soc-Newsvine; 
  }
}
.soc-Nextdoor {
  &:before {
    content: $soc-Nextdoor; 
  }
}
.soc-Niconico {
  &:before {
    content: $soc-Niconico; 
  }
}
.soc-Nintendo {
  &:before {
    content: $soc-Nintendo; 
  }
}
.soc-Npm {
  &:before {
    content: $soc-Npm; 
  }
}
.soc-Odnoklassniki {
  &:before {
    content: $soc-Odnoklassniki; 
  }
}
.soc-Opera {
  &:before {
    content: $soc-Opera; 
  }
}
.soc-Origin {
  &:before {
    content: $soc-Origin; 
  }
}
.soc-Outlook {
  &:before {
    content: $soc-Outlook; 
  }
}
.soc-Overwatch {
  &:before {
    content: $soc-Overwatch; 
  }
}
.soc-Pandora {
  &:before {
    content: $soc-Pandora; 
  }
}
.soc-Patreon {
  &:before {
    content: $soc-Patreon; 
  }
}
.soc-Paypal {
  &:before {
    content: $soc-Paypal; 
  }
}
.soc-Periscope {
  &:before {
    content: $soc-Periscope; 
  }
}
.soc-Persona {
  &:before {
    content: $soc-Persona; 
  }
}
.soc-Pillowfort {
  &:before {
    content: $soc-Pillowfort; 
  }
}
.soc-Pinterest {
  &:before {
    content: $soc-Pinterest; 
  }
}
.soc-Pixiv {
  &:before {
    content: $soc-Pixiv; 
  }
}
.soc-Play {
  &:before {
    content: $soc-Play; 
  }
}
.soc-Player {
  &:before {
    content: $soc-Player; 
  }
}
.soc-Playstation {
  &:before {
    content: $soc-Playstation; 
  }
}
.soc-Pocket {
  &:before {
    content: $soc-Pocket; 
  }
}
.soc-Portfolio {
  &:before {
    content: $soc-Portfolio; 
  }
}
.soc-Px {
  &:before {
    content: $soc-Px; 
  }
}
.soc-Qobuz {
  &:before {
    content: $soc-Qobuz; 
  }
}
.soc-Qq {
  &:before {
    content: $soc-Qq; 
  }
}
.soc-Qrcode {
  &:before {
    content: $soc-Qrcode; 
  }
}
.soc-Quora {
  &:before {
    content: $soc-Quora; 
  }
}
.soc-Raidcall {
  &:before {
    content: $soc-Raidcall; 
  }
}
.soc-Ravelry {
  &:before {
    content: $soc-Ravelry; 
  }
}
.soc-Realtor {
  &:before {
    content: $soc-Realtor; 
  }
}
.soc-Recaptcha {
  &:before {
    content: $soc-Recaptcha; 
  }
}
.soc-Redbubble {
  &:before {
    content: $soc-Redbubble; 
  }
}
.soc-Reddit {
  &:before {
    content: $soc-Reddit; 
  }
}
.soc-Redfin {
  &:before {
    content: $soc-Redfin; 
  }
}
.soc-Remote {
  &:before {
    content: $soc-Remote; 
  }
}
.soc-Renren {
  &:before {
    content: $soc-Renren; 
  }
}
.soc-Rentry {
  &:before {
    content: $soc-Rentry; 
  }
}
.soc-Researchgate {
  &:before {
    content: $soc-Researchgate; 
  }
}
.soc-Residentadvisor {
  &:before {
    content: $soc-Residentadvisor; 
  }
}
.soc-Reverbnation {
  &:before {
    content: $soc-Reverbnation; 
  }
}
.soc-Rss {
  &:before {
    content: $soc-Rss; 
  }
}
.soc-Seedrs {
  &:before {
    content: $soc-Seedrs; 
  }
}
.soc-Seenthis {
  &:before {
    content: $soc-Seenthis; 
  }
}
.soc-Sharepoint {
  &:before {
    content: $soc-Sharepoint; 
  }
}
.soc-Sharethis {
  &:before {
    content: $soc-Sharethis; 
  }
}
.soc-SheezyArt {
  &:before {
    content: $soc-SheezyArt; 
  }
}
.soc-Shopify {
  &:before {
    content: $soc-Shopify; 
  }
}
.soc-Sketchfab {
  &:before {
    content: $soc-Sketchfab; 
  }
}
.soc-Skype {
  &:before {
    content: $soc-Skype; 
  }
}
.soc-Slack {
  &:before {
    content: $soc-Slack; 
  }
}
.soc-Slideshare {
  &:before {
    content: $soc-Slideshare; 
  }
}
.soc-Smashcast {
  &:before {
    content: $soc-Smashcast; 
  }
}
.soc-Smashwords {
  &:before {
    content: $soc-Smashwords; 
  }
}
.soc-Smugmug {
  &:before {
    content: $soc-Smugmug; 
  }
}
.soc-Snapchat {
  &:before {
    content: $soc-Snapchat; 
  }
}
.soc-Society6 {
  &:before {
    content: $soc-Society6; 
  }
}
.soc-Songkick {
  &:before {
    content: $soc-Songkick; 
  }
}
.soc-Soroush {
  &:before {
    content: $soc-Soroush; 
  }
}
.soc-Soundcloud {
  &:before {
    content: $soc-Soundcloud; 
  }
}
.soc-Spip {
  &:before {
    content: $soc-Spip; 
  }
}
.soc-Splice {
  &:before {
    content: $soc-Splice; 
  }
}
.soc-Spotify {
  &:before {
    content: $soc-Spotify; 
  }
}
.soc-Spreadshirt {
  &:before {
    content: $soc-Spreadshirt; 
  }
}
.soc-Squarespace {
  &:before {
    content: $soc-Squarespace; 
  }
}
.soc-Stackexchange {
  &:before {
    content: $soc-Stackexchange; 
  }
}
.soc-Stackoverflow {
  &:before {
    content: $soc-Stackoverflow; 
  }
}
.soc-Stage32 {
  &:before {
    content: $soc-Stage32; 
  }
}
.soc-Starcraft {
  &:before {
    content: $soc-Starcraft; 
  }
}
.soc-Stayfriends {
  &:before {
    content: $soc-Stayfriends; 
  }
}
.soc-Steam {
  &:before {
    content: $soc-Steam; 
  }
}
.soc-Stitcher {
  &:before {
    content: $soc-Stitcher; 
  }
}
.soc-Storehouse {
  &:before {
    content: $soc-Storehouse; 
  }
}
.soc-Strava {
  &:before {
    content: $soc-Strava; 
  }
}
.soc-Strawpage {
  &:before {
    content: $soc-Strawpage; 
  }
}
.soc-Streamjar {
  &:before {
    content: $soc-Streamjar; 
  }
}
.soc-Strudelcafe {
  &:before {
    content: $soc-Strudelcafe; 
  }
}
.soc-strudel-cafe {
  &:before {
    content: $soc-strudel-cafe; 
  }
}
.soc-Stumbleupon {
  &:before {
    content: $soc-Stumbleupon; 
  }
}
.soc-Swarm {
  &:before {
    content: $soc-Swarm; 
  }
}
.soc-Teamspeak {
  &:before {
    content: $soc-Teamspeak; 
  }
}
.soc-Teamviewer {
  &:before {
    content: $soc-Teamviewer; 
  }
}
.soc-Technorati {
  &:before {
    content: $soc-Technorati; 
  }
}
.soc-Telegram {
  &:before {
    content: $soc-Telegram; 
  }
}
.soc-Threema {
  &:before {
    content: $soc-Threema; 
  }
}
.soc-Tidal {
  &:before {
    content: $soc-Tidal; 
  }
}
.soc-Tiktok {
  &:before {
    content: $soc-Tiktok; 
  }
}
.soc-Tinder {
  &:before {
    content: $soc-Tinder; 
  }
}
.soc-Toneden {
  &:before {
    content: $soc-Toneden; 
  }
}
.soc-Toptal {
  &:before {
    content: $soc-Toptal; 
  }
}
.soc-Torial {
  &:before {
    content: $soc-Torial; 
  }
}
.soc-Toyhouse {
  &:before {
    content: $soc-Toyhouse; 
  }
}
.soc-Tracks {
  &:before {
    content: $soc-Tracks; 
  }
}
.soc-Traxsource {
  &:before {
    content: $soc-Traxsource; 
  }
}
.soc-Trello {
  &:before {
    content: $soc-Trello; 
  }
}
.soc-Tripadvisor {
  &:before {
    content: $soc-Tripadvisor; 
  }
}
.soc-Tripit {
  &:before {
    content: $soc-Tripit; 
  }
}
.soc-Triplej {
  &:before {
    content: $soc-Triplej; 
  }
}
.soc-Trulia {
  &:before {
    content: $soc-Trulia; 
  }
}
.soc-Tumblr {
  &:before {
    content: $soc-Tumblr; 
  }
}
.soc-Tunein {
  &:before {
    content: $soc-Tunein; 
  }
}
.soc-Twitch {
  &:before {
    content: $soc-Twitch; 
  }
}
.soc-Uber {
  &:before {
    content: $soc-Uber; 
  }
}
.soc-Ubuntu {
  &:before {
    content: $soc-Ubuntu; 
  }
}
.soc-Udemy {
  &:before {
    content: $soc-Udemy; 
  }
}
.soc-Unsplash {
  &:before {
    content: $soc-Unsplash; 
  }
}
.soc-Upwork {
  &:before {
    content: $soc-Upwork; 
  }
}
.soc-Ventrilo {
  &:before {
    content: $soc-Ventrilo; 
  }
}
.soc-Viadeo {
  &:before {
    content: $soc-Viadeo; 
  }
}
.soc-Viber {
  &:before {
    content: $soc-Viber; 
  }
}
.soc-Viewbug {
  &:before {
    content: $soc-Viewbug; 
  }
}
.soc-Vimeo {
  &:before {
    content: $soc-Vimeo; 
  }
}
.soc-Vkontakte {
  &:before {
    content: $soc-Vkontakte; 
  }
}
.soc-Vsco {
  &:before {
    content: $soc-Vsco; 
  }
}
.soc-Warcraft {
  &:before {
    content: $soc-Warcraft; 
  }
}
.soc-Weasyl {
  &:before {
    content: $soc-Weasyl; 
  }
}
.soc-Wechat {
  &:before {
    content: $soc-Wechat; 
  }
}
.soc-Weibo {
  &:before {
    content: $soc-Weibo; 
  }
}
.soc-Whatsapp {
  &:before {
    content: $soc-Whatsapp; 
  }
}
.soc-Wickr {
  &:before {
    content: $soc-Wickr; 
  }
}
.soc-Wikipedia {
  &:before {
    content: $soc-Wikipedia; 
  }
}
.soc-Windguru {
  &:before {
    content: $soc-Windguru; 
  }
}
.soc-Windows {
  &:before {
    content: $soc-Windows; 
  }
}
.soc-Wix {
  &:before {
    content: $soc-Wix; 
  }
}
.soc-Wordpress {
  &:before {
    content: $soc-Wordpress; 
  }
}
.soc-Wykop {
  &:before {
    content: $soc-Wykop; 
  }
}
.soc-X {
  &:before {
    content: $soc-X; 
  }
}
.soc-Xbox {
  &:before {
    content: $soc-Xbox; 
  }
}
.soc-Xing {
  &:before {
    content: $soc-Xing; 
  }
}
.soc-Yahoo {
  &:before {
    content: $soc-Yahoo; 
  }
}
.soc-Yammer {
  &:before {
    content: $soc-Yammer; 
  }
}
.soc-Yandex {
  &:before {
    content: $soc-Yandex; 
  }
}
.soc-Yelp {
  &:before {
    content: $soc-Yelp; 
  }
}
.soc-Younow {
  &:before {
    content: $soc-Younow; 
  }
}
.soc-Youtube {
  &:before {
    content: $soc-Youtube; 
  }
}
.soc-Yt-gaming {
  &:before {
    content: $soc-Yt-gaming; 
  }
}
.soc-Zapier {
  &:before {
    content: $soc-Zapier; 
  }
}
.soc-Zazzle {
  &:before {
    content: $soc-Zazzle; 
  }
}
.soc-Zerply {
  &:before {
    content: $soc-Zerply; 
  }
}
.soc-Zillow {
  &:before {
    content: $soc-Zillow; 
  }
}
.soc-Zomato {
  &:before {
    content: $soc-Zomato; 
  }
}
.soc-Zoom {
  &:before {
    content: $soc-Zoom; 
  }
}
.soc-Zynga {
  &:before {
    content: $soc-Zynga; 
  }
}

