$icomoon-font-family: "SocialIcons" !default;
$icomoon-font-path: "fonts" !default;

$soc-airbnb: "\e002";
$soc-alibaba: "\e922";
$soc-aliexpress: "\e91d";
$soc-alliance: "\e003";
$soc-amazon: "\e004";
$soc-amplement: "\e005";
$soc-android: "\e006";
$soc-angellist: "\e007";
$soc-angieslist: "\e916";
$soc-apple: "\e008";
$soc-appnet: "\e009";
$soc-appstore: "\e91f";
$soc-archiveorg: "\e997";
$soc-artfight: "\e988";
$soc-artfol: "\e98a";
$soc-artistree: "\e99e";
$soc-artstation: "\e959";
$soc-ask: "\e930";
$soc-augment: "\e908";
$soc-avvo: "\e978";
$soc-baidu: "\e00a";
$soc-bale: "\e97e";
$soc-bandcamp: "\e00b";
$soc-battlenet: "\e00c";
$soc-beatport: "\e955";
$soc-bebee: "\e00e";
$soc-bebo: "\e00f";
$soc-behance: "\e010";
$soc-bing: "\e92a";
$soc-bitbucket: "\e909";
$soc-blackberry: "\e951";
$soc-blizzard: "\e011";
$soc-blogger: "\e012";
$soc-bloglovin: "\e904";
$soc-bluesky: "\e98d";
$soc-bonanza: "\e92c";
$soc-bookbub: "\e949";
$soc-booking: "\e936";
$soc-buffer: "\e013";
$soc-buzzly: "\e994";
$soc-calendly: "\e93d";
$soc-cara: "\e9a1";
$soc-carrd: "\e981";
$soc-cdbaby: "\e968";
$soc-chrome: "\e014";
$soc-codepen: "\e917";
$soc-codered: "\e940";
$soc-coderwall: "\e015";
$soc-collectorz: "\e95c";
$soc-comicfury: "\e99d";
$soc-craigslist: "\e923";
$soc-crunchbase: "\e93b";
$soc-curiouscat: "\e989";
$soc-curse: "\e016";
$soc-dailymotion: "\e017";
$soc-debian: "\e95f";
$soc-deezer: "\e018";
$soc-delicious: "\e019";
$soc-deviantart: "\e01a";
$soc-diablo: "\e01b";
$soc-digg: "\e01c";
$soc-digital-ocean: "\e9a0";
$soc-discord: "\e985";
$soc-disqus: "\e01e";
$soc-dlive: "\e975";
$soc-doodle: "\e92b";
$soc-douban: "\e01f";
$soc-draugiem: "\e020";
$soc-dribbble: "\e021";
$soc-drupal: "\e022";
$soc-ebay: "\e023";
$soc-eitaa: "\e97c";
$soc-elementaryos: "\e969";
$soc-ello: "\e024";
$soc-endomodo: "\e025";
$soc-envato: "\e026";
$soc-etsy: "\e027";
$soc-facebook: "\e028";
$soc-feedburner: "\e029";
$soc-filmfreeway: "\e960";
$soc-filmweb: "\e02a";
$soc-firefox: "\e02b";
$soc-fiverr: "\e91b";
$soc-flattr: "\e02c";
$soc-flickr: "\e02d";
$soc-flipboard: "\e973";
$soc-flowcode: "\e99f";
$soc-formulr: "\e02e";
$soc-forrst: "\e02f";
$soc-foursquare: "\e030";
$soc-freelancer: "\e928";
$soc-friendfeed: "\e031";
$soc-fundable: "\e935";
$soc-furaffinity: "\e987";
$soc-furvilla: "\e998";
$soc-fyuse: "\e90a";
$soc-gag: "\e984";
$soc-gamefor: "\e94e";
$soc-gamejolt: "\e901";
$soc-gamewisp: "\e905";
$soc-ghost: "\e933";
$soc-github: "\e032";
$soc-gitlab: "\e945";
$soc-gitter: "\e96c";
$soc-glaze: "\e98f";
$soc-gnome: "\e961";
$soc-goodreads: "\e033";
$soc-google: "\e034";
$soc-googlecalendar: "\e926";
$soc-googlegroups: "\e036";
$soc-googlehangouts: "\e974";
$soc-googlemaps: "\e937";
$soc-googlephotos: "\e037";
$soc-googleplaymusic: "\e95e";
$soc-googleplus: "\e038";
$soc-googlescholar: "\e035";
$soc-gotomeeting: "\e91c";
$soc-grooveshark: "\e039";
$soc-guru: "\e91e";
$soc-gust: "\e92f";
$soc-hackernews: "\e946";
$soc-hackerone: "\e956";
$soc-hackerrank: "\e03a";
$soc-hearthstone: "\e03b";
$soc-hellocoton: "\e03c";
$soc-heroes: "\e03d";
$soc-homeadvisor: "\e915";
$soc-homefy: "\e93c";
$soc-homes: "\e920";
$soc-horde: "\e03f";
$soc-houzz: "\e040";
$soc-icq: "\e041";
$soc-identica: "\e042";
$soc-imdb: "\e043";
$soc-indiedb: "\e94c";
$soc-inkblot: "\e995";
$soc-instagram: "\e044";
$soc-instructables: "\e944";
$soc-internet: "\e957";
$soc-invision: "\e95a";
$soc-issuu: "\e045";
$soc-istock: "\e046";
$soc-itchio: "\e962";
$soc-itunes: "\e047";
$soc-jamendo: "\e963";
$soc-keybase: "\e048";
$soc-kobo: "\e948";
$soc-kofi: "\e983";
$soc-ko-fi: "\e983";
$soc-lanyrd: "\e049";
$soc-lastfm: "\e04a";
$soc-leprdspace: "\e990";
$soc-letterboxd: "\e96d";
$soc-line: "\e04b";
$soc-linkedin: "\e04c";
$soc-linktree: "\e982";
$soc-livejournal: "\e04d";
$soc-livemaster: "\e93e";
$soc-logmein: "\e91a";
$soc-loomly: "\e932";
$soc-lyft: "\e04e";
$soc-macos: "\e04f";
$soc-mail: "\e050";
$soc-mailru: "\e94a";
$soc-mastodon: "\e913";
$soc-medium: "\e051";
$soc-meetup: "\e052";
$soc-messenger: "\e906";
$soc-metapop: "\e970";
$soc-microsoft: "\e90e";
$soc-mix: "\e964";
$soc-mixcloud: "\e053";
$soc-mixer: "\e00d";
$soc-mobcrush: "\e90d";
$soc-moddb: "\e94b";
$soc-modelmayhem: "\e054";
$soc-moderneopets: "\e999";
$soc-mumble: "\e055";
$soc-myanimelist: "\e950";
$soc-myspace: "\e056";
$soc-napster: "\e954";
$soc-natgeo: "\e912";
$soc-naver: "\e971";
$soc-neocities: "\e992";
$soc-neopets: "\e99a";
$soc-newgrounds: "\e97f";
$soc-newsvine: "\e057";
$soc-nextdoor: "\e942";
$soc-niconico: "\e939";
$soc-nintendo: "\e058";
$soc-npm: "\e059";
$soc-odnoklassniki: "\e05a";
$soc-openaigym: "\e919";
$soc-openid: "\e05b";
$soc-opera: "\e05c";
$soc-origin: "\e941";
$soc-outlook: "\e05d";
$soc-overwatch: "\e05e";
$soc-pandora: "\e907";
$soc-patreon: "\e99b";
$soc-paypal: "\e99c";
$soc-periscope: "\e061";
$soc-persona: "\e062";
$soc-pillowfort: "\e980";
$soc-pinterest: "\e063";
$soc-pixiv: "\e94f";
$soc-play: "\e064";
$soc-player: "\e065";
$soc-playstation: "\e066";
$soc-pocket: "\e067";
$soc-portfolio: "\e943";
$soc-px: "\e000";
$soc-qobuz: "\e911";
$soc-qq: "\e068";
$soc-qrcode: "\e98b";
$soc-quora: "\e069";
$soc-raidcall: "\e06a";
$soc-ravelry: "\e06b";
$soc-realtor: "\e90f";
$soc-recaptcha: "\e98e";
$soc-redbubble: "\e979";
$soc-reddit: "\e06c";
$soc-redfin: "\e925";
$soc-remote: "\e972";
$soc-renren: "\e06d";
$soc-rentry: "\e993";
$soc-researchgate: "\e06e";
$soc-residentadvisor: "\e06f";
$soc-reverbnation: "\e070";
$soc-rss: "\e071";
$soc-seedrs: "\e929";
$soc-seenthis: "\e95d";
$soc-sharepoint: "\e965";
$soc-sharethis: "\e072";
$soc-sheezyart: "\e98c";
$soc-shopify: "\e927";
$soc-sketchfab: "\e90c";
$soc-skype: "\e073";
$soc-slack: "\e918";
$soc-slideshare: "\e074";
$soc-smashcast: "\e03e";
$soc-smashwords: "\e947";
$soc-smugmug: "\e075";
$soc-snapchat: "\e076";
$soc-society6: "\e97a";
$soc-songkick: "\e077";
$soc-soroush: "\e97d";
$soc-soundcloud: "\e078";
$soc-spip: "\e953";
$soc-splice: "\e96f";
$soc-spotify: "\e079";
$soc-spreadshirt: "\e900";
$soc-squarespace: "\e92d";
$soc-stackexchange: "\e07a";
$soc-stackoverflow: "\e07b";
$soc-stage32: "\e96a";
$soc-starcraft: "\e07c";
$soc-stayfriends: "\e07d";
$soc-steam: "\e07e";
$soc-stitcher: "\e977";
$soc-storehouse: "\e07f";
$soc-strava: "\e080";
$soc-strawpage: "\e9a2";
$soc-strawpage1: "\e9a2";
$soc-streamjar: "\e081";
$soc-strudelcafe: "\e991";
$soc-strudel-cafe: "\e991";
$soc-stumbleupon: "\e082";
$soc-swarm: "\e083";
$soc-teamspeak: "\e084";
$soc-teamviewer: "\e085";
$soc-technorati: "\e086";
$soc-telegram: "\e087";
$soc-threema: "\e96e";
$soc-tidal: "\e910";
$soc-tiktok: "\e96b";
$soc-tinder: "\e966";
$soc-toneden: "\e93a";
$soc-toptal: "\e92e";
$soc-torial: "\e95b";
$soc-toyhouse: "\e986";
$soc-tracks: "\e001";
$soc-traxsource: "\e94d";
$soc-trello: "\e902";
$soc-tripadvisor: "\e088";
$soc-tripit: "\e089";
$soc-triplej: "\e08a";
$soc-trulia: "\e931";
$soc-tumblr: "\e08b";
$soc-tunein: "\e903";
$soc-twitch: "\e08c";
$soc-uber: "\e08e";
$soc-ubuntu: "\e958";
$soc-udemy: "\e93f";
$soc-unsplash: "\e914";
$soc-upwork: "\e934";
$soc-ventrilo: "\e08f";
$soc-viadeo: "\e090";
$soc-viber: "\e091";
$soc-viewbug: "\e092";
$soc-vimeo: "\e093";
$soc-vine: "\e094";
$soc-vkontakte: "\e095";
$soc-vsco: "\e976";
$soc-warcraft: "\e096";
$soc-weasyl: "\e996";
$soc-wechat: "\e097";
$soc-weibo: "\e098";
$soc-whatsapp: "\e099";
$soc-wickr: "\e952";
$soc-wikipedia: "\e09a";
$soc-windguru: "\e967";
$soc-windows: "\e09b";
$soc-wix: "\e924";
$soc-wordpress: "\e09c";
$soc-wykop: "\e09d";
$soc-x: "\e0aa";
$soc-twitter: "\e0aa";
$soc-twitter-x: "\e0aa";
$soc-x-twitter: "\e0aa";
$soc-xbox: "\e09e";
$soc-xing: "\e09f";
$soc-yahoo: "\e0a0";
$soc-yammer: "\e0a1";
$soc-yandex: "\e0a2";
$soc-yelp: "\e0a3";
$soc-younow: "\e0a4";
$soc-youtube: "\e0a5";
$soc-yt-gaming: "\e90b";
$soc-zapier: "\e0a6";
$soc-zazzle: "\e97b";
$soc-zerply: "\e0a7";
$soc-zillow: "\e938";
$soc-zomato: "\e0a8";
$soc-zoom: "\e921";
$soc-zynga: "\e0a9";

